* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(244, 200, 200);
  color: black;
}

.app .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: rgb(236, 100, 85);
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  padding: 10px 20px;
  width: 300px;
  border-radius: 10px;
  border: none;
}

input::placeholder {
  text-align: center;
}
